
*{
    margin: 0%;
    padding: 0%;
}

.home-parent{
    background-color: lawngreen;
    width: 100%;
    height: 100vh;
}


/* ----___NavBAR___---- */

.navbar-main-div{
    /* background-color: blue; */
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 9px 8px rgb(229, 228, 228);
}
.navbar-sub-div{
    /* background-color: darkseagreen; */
    width: 92%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo-div{
    /* background-color: violet; */
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.logo-pic{
    height: 52px;
    width: 100.74px;
    cursor: pointer;
}
.location-main-div{
    /* background-color: rgb(255, 255, 255); */
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.location-icon-div{
    /* background-color: tan; */
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.location-icon{
    margin-bottom: 10px;
    width: 17px;
    cursor: pointer;
}

.place-main-div{
    /* background-color: steelblue; */
    width: 70%;
    height: 100%;
}
.space-select-div{
    /* background-color: chartreuse; */
    width: 100%;
    height: 55%;
    display: flex;
    align-items: end;
}
.place-text{
    font-size: 14px;
    font-weight: 600;
    color: #0d0d0e;
    font-family: 'Lato Regular', sans-serif;
    cursor: pointer;
}
.space-slection{
    border-style: none;
}
.address-text{
    font-size: 12px;
    font-weight: 0;
    font-family: 'Lato Regular', sans-serif;
    margin-top: 3px;
}


.search-main-div{
    /* background-color: teal; */
    width: 29%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-div{
    background-color: #f3f3f3cf;
    width: 87%;
    height: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-right: 15px;
    border: 1px solid rgba(175, 173, 173, 0.259);
}
.search-input{
    width: 75%;
    height: 90%;
    font-size: 16px;
    padding-left: 10px;
    color: rgba(210, 22, 22, 0.705);
    background-color: transparent;
    border-style: none;
    border-radius: 5px;
    margin-left: 2px;
    outline: none;
}
.search-icon-div{
    /* background-color: violet; */
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.search-icon-pic{
    width: 20px;
}

.categories-main-div{
    /* background-color: rgb(142, 222, 142); */
    width: 11%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.category-text{
    font-family: 'Lato Regular', sans-serif;
    font-size: 14px;
    font-family: 500;
    color: #171719;
    margin-right: 9px;
}
.category-icon{
    margin-left: 7px;
}

.login-main-div{
    /* background-color: crimson; */
    width: 9.5%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.login-icon{
    margin-left: 10px;
}
.login-text{
    font-family: 'Lato Regular', sans-serif;
    font-size: 14px;
    font-family: 500;
    color: #171719;
    margin-right: 15px;
}

.cart-main-div{
    /* background-color:  coral; */
    width: 8%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
.cart-icon{
    margin-left: 12px;
}
.cart-text{
    font-family: 'Lato Regular', sans-serif;
    font-size: 14px;
    font-family: 500;
    color: #171719;
    margin-right: 15px;
}




/* ---___Main Pic___--- */

.main-sticker-parent-div{
    /* background-color: cyan; */
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: center;
}
.sticker-sub-div{
    /* background-color: blueviolet; */
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticker-pic{
    width: 100%;
    border-radius: 13px;
    
}




/* ---___Shop Category___--- */

.shop-categories-maindiv{
    /* background-color: darkblue; */
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
}
.shop-categories-subDiv{
    /* background-color: violet; */
    width: 84%;
    height: 410px;
}
.shop-categories-headline-div{
    /* background-color: rgb(71, 255, 92); */
    width: 100%;
    height: 55px;
}
.main-headline{
    /* background-color: turquoise; */
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.mainhead-text{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lato Regular', sans-serif;
    color: #0d0d0e;
}

.sub-headline-text{
    font-size: 14px;
    font-weight: 100;
    line-height: 140%;
    color: #4d4d4f;
    font-family: 'Lato Regular', sans-serif;
}


       /* Category Items */

.items-parent-div{
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    height: 85%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
}

.item-main-div{
    /* background-color: chartreuse; */
    width: 95%;
    height: 90%;
    /* border: 1px solid; */
}
.image-div{
    /* background-color: hotpink; */
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-image{
    width: 120px;
}
.item-image:hover{
    width: 115px;
}

.title-div{
    /* background-color: darkgray; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-name{
    font-size: 16px;
    color: #0d0d0e;
    font-family: 'Lato Regular', sans-serif;
}